---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Summary from '../components/Summary.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Awards from '../components/Awards.astro';
import Certifications from '../components/Certifications.astro';
import Favorites from '../components/Favorites.astro';
---

<Layout
	title="Towhidul Islam - Data Platform Engineer"
	description="The personal portfolio of Towhidul Islam, a Data Platform Engineer with over 7 years of experience in data warehousing, cloud solutions, and ETL processes."
>
	<main class="container mx-auto px-4">
		<Hero />
		<Summary />
		<Experience />
		<Skills />
		<Certifications />
		<Education />
		<Awards />
		<Favorites />
	</main>
</Layout>
